* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --color-amarillo: #EAC926;
  --color-azul: #03264C;
  --color-celeste: #1259c3;
  --color-gris-oscuro: #666;
  --color-gris-claro: #ebebeb;
  --color-verde: #39b54a;
}


body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-gris-claro);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 15px 0;
}

h3 {
  font-size: 25px;
}

.products p {
  display: contents;
}

.top-header p,
header nav {
  font-size: 15px;
  display: flex;
  gap: 5px;
}

div.top-header {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  background-color: var(--color-amarillo);
}

header div.logo {
  width: 40%;
}

header div.logo {
  padding: 10px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header div.top-header p {
  width: 40%;
  text-align: center;
  margin-top: 10px;
}

/*Barra de busqueda*/

.barra-busqueda {
  display: flex;
  width: 70%;
  margin: 20px;
}

input[type="text"] {
  flex: 1;
}

button {
  padding: 10px 15px;
  background-color: #333;
  color: var(--color-celeste);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* fin barra de busqueda */

div.burger-menu {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

.products article {
  width: 250px;
}

div.burger-menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-celeste);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

.price {
  font-size: 18px;
}

.discount,
.description-product {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  color: var(--color-gris-oscuro);
  font-size: 24px;
}

.description-product {
  color: var(--color-gris-oscuro);
  font-size: 16px;
}

.description-product {
  margin-top: 20px;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: var(--color-verde);
}

main section article i {
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-verde);
  background-color: #fff;
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-self: self-end;
}

.icono {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  bottom: 30px;
}

.descripcion {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/** EFECTOS */

article .description-product {
  display: none;
}

article:hover .description-product {
  display: block;
}

article:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 500ms;
}

article:hover .icono i {
  transform: rotate(-90deg);
  transition: transform 500ms;
}


/* FIN EFECTOS*/


main section h3 {
  margin: 20px 0px;
}

article div.main-article {
  border-top: 1px solid var(--color-gris-claro);
  padding: 15px;
}

/* Register */

.formulario {
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 1500ms;
}

.formulario:hover {
  background-color: #0022AA;
}

.formulario h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
button,
input[type="file"] {
  padding: 10px;
  margin: 7px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select[multiple] {
  height: 100px;
}

button {
  background-color: var(--color-celeste);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 500ms;
}

button:hover {
  background-color: #0022AA;
}

button[type="reset"] {
  background-color: #f00;
  transition: 500ms;
}

button[type="reset"]:hover {
  background-color: rgb(202, 5, 5);
}

.categorias {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 5px;
}


/* FOOTER */

.pie-pagina {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  padding-top: 20px;
}

.grupo-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.seccion {
  width: 30%;
  padding: 10px 0;
  text-align: center;
}

.seccion i {
  color: var(--color-celeste);
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 10px;
}

.seccion h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.grupo-2 {
  background-color: #fff;
  padding: 15px 0;
  text-align: center;
}

.grupo-2 small {
  font-size: 14px;
}


@media (min-width: 361px) {

  div.burger-menu {
    display: none;
  }

}

@media (max-width: 769px) {

  main section article .description-product {
    display: none;
  }

  .products {
    justify-content: center;
  }

  .top-header {
    flex-direction: column;
    text-align: center;
  }

  .form {
    margin: 10px 0px;
  }

  nav {
    display: none;
    flex-direction: column;
  }

  .grupo-1 {
    flex-direction: column;
    align-items: center;
  }

  .seccion {
    width: 80%;
    margin-bottom: 20px;
  }

  header nav,
  .top-header p {
    display: none;
  }

}